<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets  async="true">
    <target name="all" xsi:type="File" fileName="${basedir}/Logs/extlog.txt" archiveAboveSize="2000000"
            maxArchiveFiles="2" createDirs="True" layout="${date} ${time} ${level} ${logger:shortName=True} :${message} ${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="all" final="true" />
  </rules>
</nlog>